<ion-content>
  <div class="container">

    <div class="head">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title class="title">EasyInvoice</ion-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <img class="logo" src="assets/logoApp.png" alt="Logo" >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="form-container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="textCont" >
              <ion-text class="textLogin">Inicio de Sesión</ion-text>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="person-circle-outline"></ion-icon>
              <ion-input clearInput type="text" placeholder="Ingrese nombre de usuario"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="lock-closed-outline"></ion-icon>
              <ion-input clearInput type="password" placeholder="Ingrese contraseña"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button>Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  </div>
</ion-content>
