.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #3d648d;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #063970;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.iconBack {
  color: white;
  position: absolute;
  top: 23px;
  left: 25px;
  font-size: 42px;
  color: white;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Lora";
  width: auto;
  text-align: center;
}

ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputBig {
  border-radius: 15px;
  margin-bottom: 10px;
  width: 360px;
  --background: #3d648d;
  border: 2px solid white;
  --border-color: transparent;
}

.inputSmall {
  border-radius: 15px;
  margin-bottom: 10px;
  width: 170px;
  margin-right: 27px;
  --background: #3d648d;
  border: 2px solid white;
  margin-left: -3px;
}

.inputNum {
  width: 150px;
  height: 59px;
  --background: #3d648d;
  border: 2px solid white;
  border-radius: 14px;
}

.inputSelectSmall {
  width: 290px;
  height: 59px;
  border-radius: 12px;
  border: 2px solid white;
  --background: #3d648d;
  margin-left: -10px;
}

.iconAdd {
  color: white;
  height: 43px;
  width: 43px;
  margin-top: 7px;
  margin-left: 6px;
}

.inputSelectBig {
  width: 358px;
  height: 59px;
  border-radius: 12px;
  border: 2px solid white;
  --background: #3d648d;
  margin-top: 10px;
}

.btnVender {
  --border-radius: 10px;
  width: 355px;
  height: 45px;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
  --color: white;
  --background: #063970;
  --background-activated: #2b3e4a;
}
